<div class="row">
  <div class="col-sm-4">
    <button type="button" class="btn btn-primary btn-lg">New Patient</button>
  </div>
  <div class="col-sm-4">
    <button type="button" class="btn btn-success btn-lg">Existing Patient</button>
  </div>
  <div class="col-sm-4">
    <button type="button" class="btn btn-danger btn-lg">Notes</button>
  </div>
</div>
